<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <style>
        .link{
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-left: 15px;
            margin-right: 15px;
        }
    </style>

    <title>All Publisher</title>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">All Publisher</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Nip</th>
                                <th>Address</th>
                            </thead>
                            <tr th:each="publisher : ${publisher}">
                                <td th:text="${publisher.id}">123</td>
                                <td th:text="${publisher.name}">Mister</td>
                                <td th:text="${publisher.nip}">Kononowicz</td>
                                <td th:text="${publisher.address}">Destroyer</td>
                            </tr>
                        </table>
                        <div class="link">
                        <a href="books">Books</a>
                        <a href="announce">Announce</a>
                        <a href="writers">Writers</a>
                            <a href="start">Start</a>
                            <a href="addpublisher">ADD PUBLISHER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>